{#
/**
 * @file
 * Custom Timezone Block template.
 */
 #}

<div class="timezone">
  <h1>{{ country }}</h1>
  <h2>{{ city }}</h2>
  <div class="datetime">
    <strong>{{ datetime }}</strong>
  </div>
</div>
